


<main class="holder">
 
    <div class="comentarios">
       <h2>New Comment</h2>
       
        <div class="comentario">
        <form action="/comentarios/alta" method="post"> 
            <table>
            <tr>
                <td><input type="text" class="form-control" name="desc_item" size="100"></td>
                <td width="20"><input type="hidden"  name="id_usuario" value="{{id_usuario}}" ></td>
            </tr> 

            <tr>
            <td colspan="2">
                <input type="submit" value="Save">
                <input type="button" value="Cancel" onclick="javascript:history.back()"> 
            </td>
            </tr>
            </table>
        </form>
    </div>
</main>
