
<main class="holder">
    
    <div class="servicios">
    <h2>Education</h2>
     <div class="servicio">
          <img height="50" src="/img/uns.jpg" alt="UNS">
        <div class="info">
        <h4>Universidad Nacional del Sur. 1991</h4>
        <p>Bachelor Degree in Computer Science</p>
        </div>
    </div>
    <div class="servicio">
          <img height="50" src="/img/utn.png" alt="UTN">
        <div class="info">
        <h4>Universidad Tecnol贸gica Argentina. 2018</h4>
        <p>Diplomature in .NET C#</p>
        </div>
    </div>
    <div class="servicio">
          <img height="50" src="/img/utn.png" alt="UTN">
        <div class="info">
        <h4>Universidad Tecnol贸gica Argentina. 2019</h4>
        <p>Programming with Angular</p>
        </div>
    </div>
    <div class="servicio">
          <img height="50" src="/img/utn.png" alt="UTN">
        <div class="info">
        <h4>Universidad Tecnol贸gica Argentina. 2019</h4>
        <p>Programming with NodeJs</p>
        </div>
    </div> 
       <div class="servicio">
          <img height="50" src="/img/utn.png" alt="UTN">
        <div class="info">
        <h4>Universidad Tecnol贸gica Argentina. March-September 2021</h4>
        <p>WebMaster. Node.js, Handlebars and MySql</p>
        </div>
    </div> 
    <div class="servicio">
          <img height="50" src="/img/cultura.jpg" alt="UTN">
        <div class="info">
        <h4>Asociacion Bahiense de Cultura Inglesa. 1983</h4>
        <p>First Certificate Level English</p>
        </div>
    </div> 

</div> <!-- servicios-->
        
        
     </main>
