<main class="holder">
 <div class="columna left">
    <h2>Contact me!</h2>
   
    <form action="/formulario/enviar" method="post" class="formulario">
            <p>
                <label>Your name:</label>
                <input type="text" class="form-control" name="nombre" sixe="30">
            </p>
            <p>
                <label>Subject:</label>
                <input type="text" class="form-control" name="asunto" >
            </p>
            <p></p>
                <label>Your e-mail:</label>
                <input type="email" class="form-control" name="email" >
            </p>    
            <p>
                <label>Whatever you want to ask me or tell me, please, do it here:</label><br>
                <textarea  id="comentario1" name="mensaje" ></textarea>
            </p>
            <p class="acciones"><input type="submit" value="Send"></p>
    </form>
   </div> 

   <div class="columna right">
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p align="center">
           <img src="/img/mail.jpg">
           </p>
                <h2>You can also use...</h2>
                <ul>
                        <li>Mobile: 54 9 291 4187312</li>
                        <li>email: claudiarossi0707@gmail.com</li>
                        
                </ul>
                        <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
   </div>
  


