<main class="holder">
    <div class="homeing">
        <img src="/img/bytes2.jpg"  alt="Challenge me!">
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2>Welcome</h2>
                <p>
                I have over twenty years of experience in software development, covering back-end development and project leader roles.
                <BR>
                Through my capacity and initiative of self-learning and on the-job training, I have been able to get adapted to the dynamics of the different changes in programming languages.
                From sequential programming, structured programming, 4GL languages, event-driven languages, web technologies and object oriented languages.
                <br>
                During the last years, my professional development had an impasse due to maternity leave.
                <br>
                An important part of my career has been developed in remote modality, always getting very good feedback from my clients and employers.
                <br>
                For family needs, in 2008 I moved three months to Baton Rouge, Louisiana, United States. In 2010, I lived three months in Rayon, Thailand.
                In 2018, spent one month in Houston, United States. All these cases gave me the opportunity to enhance my English skills and exposed me to personal relationship with people from different cultures. I have Argentine and Italian citizenship.
                <br>
                At the moment I am training in Node, becoming a Sr. full stack NodeJs developer.</p>
        </div>        
        <div class="testimonios right">
                <h2>Expertise In</h2>
                  <div class="testimonio">
                    <span class="cita">Node.Js</span>
                    <span class="cita">MySql</span>
                </div>
                <div class="testimonio">
                    <span class="cita">Visual Basic</span>
                    <span class="autor">Iaca Laboratorios</span>
                </div> <div class="testimonio">
                    <span class="cita">VBScript-JScript</span>
                    <span class="cita">MS Sql</span>
                    <span class="autor">Technisys</span>
                </div>
                 <div class="testimonio">
                    <span class="cita">Active Server Pages</span>
                    <span class="autor">baTechnology</span>
                </div>
        </div>
    
    </div>
</main>