<main class="holder">
    <div class="homeing">
        <img src="/img/bytes2.jpg"  alt="Challenge me!">
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2>Bilingual Scrum Business Analyst - Software Engineer - Scrum master </h2>
                <p>
I have over twenty years of experience in software development, I have been able to work under different development paradigms, starting from sequential programming, to the event-driven programming. 
<BR>
Later I learned on the job all about WEB programming and most recently I was getting experience in Object-Oriented Languages (OOL). 
<BR>
My strong self- learning resource as well as my capacity to “adapt to continuous changes” were critical to succeed in the software evolution journey 
<BR>
which allowed me to meet my all my employers and clients’ objectives.
                <BR>

In 2006 I lived in Chile for a few months for work reasons.
<br>
On the other hand, for family needs, in 2008 I resided for three months in Baton Rouge, Louisiana, in 2009 three months in the Tarragon, Spain, and in 2010 three months in the amazing Thailand, in Rayon City. 
<br>
Luckly I could travel to know other cultures like Japan, Cambodia, China, and more similar cultures as Spain, France, England and Brazil in South america.
All these cases exposed me to personal relationships with people from different cultures.
                <br>
                <br>
                <br>
                <br>
                </p>
        </div>        
        <div class="testimonios right">
                <h2>Expertise In</h2>
                  <div class="testimonio">
                    <span class="cita">Scrum Master Certified</span>
                </div>
                <div class="testimonio">
                    <span class="cita">Scrum Methodologies - Jira - Business Analyst</span>
                    <span class="autor">Agile</span>
                </div> <div class="testimonio">
                    <span class="cita">JSON - MS SQL Server - ETL</span>
                    <span class="autor">Data</span>
                </div>
                 <div class="testimonio">
                    <span class="cita">Visual Basic - Classic ASP - C# - Javascript - VBScript</span>
                    <span class="autor">Languages</span>
                </div>
        </div>
    
    </div>
</main>