<main class="holder">
    <div class="homeing">
        <img src="/img/bytes2.jpg"  alt="Challenge me!">
    </div>
    <div class="columnas">
        <div class="bienvenidos left">
            <h2>Bilingual Scrum Business Analyst - Software Engineer </h2>
I have over twenty years of experience in software development, in which I have been able to work under different development paradigms, 
<br>
from sequential programming to event-driven programming, and in recent years, with Object-Oriented Languages (OOL).
<br>
I consider myself a person with a strong self- learning ability as well as my skills and personal attitude to “adapt to continuous changes”.  These competences have helped me to have a successful career in the software industry in its evolution journey. 
More importantly, it allowed me to meet all my employers and clients’ objectives.
<br>
I had some work and non-work related experiences abroad, which allowed me to enhance my personal relationship with people from different cultures. 
Therefore, I also consider myself an open-minded person, willing to listen to other ideas and insights and work together to maximize my work results. 
In 2006 I lived in Chile for a few months to support the implementation of a new HR system for an important client. 
Two years later, in 2008, I resided for three months in Baton Rouge, Louisiana. In 2009, I spent three months in Tarragona, Spain, and, finally in 2010, three months in Thailand, in Rayon City. All these three experiences were for family needs. 
Although they were related to vacation and enjoyment, the opportunity to travel to other cultures like Japan, Cambodia, China as well as countries in Europe and South America also contributed to getting exposed to interacting with people from different cultures.                 <br>
<br>          </div>        
        <div class="testimonios right">
              
                  <div class="testimonio">
<span class="cita">Requeriment Analysis - Design - Coding - Trainings</span>                    
<span class="autor">SDLC</span>
                </div>
                <div class="testimonio">
                    <span class="cita">Scrum Master - Business Analyst - Jira</span>
                    <span class="autor">Agile</span>
                </div> 
		 <div class="testimonio">
                    <span class="cita">Visual Basic - Classic ASP - C# - Javascript - VBScript</span>
                    <span class="autor">Languages</span>
                </div>
<div class="testimonio">
                    <span class="cita">JSON - MS SQL Server - ETL</span>
                    <span class="autor">Data</span>
                </div>
                
        </div>
    </div>
</main>