<!DOCTYPE html>
<html>
  <head>
    <title>About me - Claudia Cecilia Rossi</title>
    
          <link rel="stylesheet" href="/CSS/finalwm.css"/>
          <link rel="stylesheet" href="/CSS/normalize.css"/>
          <link  href="https://fonts.google.com/css2?family=Open+Sans:wght@300;400;700&display=swap" />
</head>  
 <header>
      <div class="cabecera"> 
      <img SRC="/img/cara.jpg" width="100" alt="Resume Claudia"><h1>Claudia Cecilia Rossi</h1>
      &nbsp;&nbsp;&nbsp;<h2>Bachelor Degree in Computer Science</h2>
      </div>
 </header>
 <nav> 
   <div class="holder1"><h3>User:&nbsp; {{usuario}} </h3>
    <ul>
        <li><a href="/home/">Home</a></li>
        <li><a  href="/education/">Education</a></li>
        <li><a href="/career/">Career</a></li>
        <li><a  href="/look/">Look this!</a></li>
        <li><a href="/formulario/">Contact</a></li>
        <li><a href="/admin/comentarios/{{id_usuario}}">Comments</a></li>
        <li><a href="/admin/login/salir/">Salir</a></li>
       </ul> 
    </div>
  </nav>  
     <main class="holder">
          {{#if error}}
               <div class="servicio"> 
               <h2>{{mensaje}}</h2>
               </div>
         {{/if}}
     </main>
  <body  class="main">
    {{{body}}}
       <footer>
        <p>NodeJs, MySQL, Handlebars and Bootstrap. Design by Claudia Cecilia Rossi. &copy; 2021</p>
     </footer>
  </body>
</html>
