 <main class="holder">
 <div class="staff">
    <h2>Major Achievements</h2>
    <div class="personas">

        <div class="persona">
              <img height="50" src="/img/codelco.jpg" alt="Codelco">
            <h5>Codelco</h5>
            <h6>baTechnology</h6>
            <p>	Led the analysis, development, training and implementation of the Personnel Performance Evaluation system for the Public mining company of Chile, CODELCO, which had 17,000 employees at that time.</p>
        </div>
    
        <div class="persona">
          <img  src="/img/Box.jpg" alt="IACA LAboratorios">
        </div> 
    
       <div class="persona">
          <img height="50" src="/img/e-galicia.png" alt="Galicia Bank">
          <h5>Galicia Bank</h5>
          <h6>Technisys</h6>
          <p>As project manager, led a multidisciplinary team responsible for the first banking WEB site: www.egalicia.com. I was responsible to supervise the work of 10 programmers and graphic designers.</p>
      </div>

      </div>
      </div>

  </main>


