



<main class="holder">
 
    <div class="comentarios">
       <h2>Edit your comment</h2>
       
        <div class="comentario">
            <form action="/comentarios/confirmarModificacion" method="post" >
            <table>
                {{#each items}}
                <tr>
                    <td><input type="text" class="form-control" name="desc_item" value="{{desc_item}}" size="100"> </td>
                    <td width="20">
                            <input type="hidden"  name="id_item" value="{{id_item}}" >
                            <input type="hidden"  name="id_usuario" value="{{id_usuario}}" >
                    </td>
                </tr> 
                {{/each}}  
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Save">
                        <input type="button" value="Cancel" onclick="javascript:history.back()"> 
                    </td>
                </tr>
            </table>
            </form>
    </div>
</main>



